* {
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth;
  text-decoration: none;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    #d53dd3,
    #c42ed8,
    #af20de,
    #9616e4,
    #7612eb
  );
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  height: 75vh;
  width: 60vw;
  padding: 20px;
  gap: 10px;
  background-color: #cfcfcf;
}

.sectionDivContent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h1 {
  display: flex;
  justify-content: center;
  color: aliceblue;
  margin: 20px;
  font-family: "Agbalumo";
}

h4 {
  border: 1px solid black;
  border-radius: 10px;
  width: 25vw;
  display: flex;
  justify-content: center;
  background-color: aliceblue;
}

.imageSpaceships {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.imageCards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}
.card {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center space-between;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: aliceblue;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.iconUser {
  width: 100px;
  height: 100px;
  float: left;
}
