<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Gamify</title>
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Agbalumo"
    />
    <link rel="stylesheet" type="text/css" href="./styles/styles.css" />
  </head>
  <body>
    <h1>Gamify</h1>
    <section>
      <img src="" alt="" />
      <h2>Perfil</h2>
      <div class="sectionDivContent">
        <div>
          <h3>Nombre de usuario:</h3>
          <h4>nombre-de-el-usuario</h4>
        </div>
        <img class="iconUser" src="./images/iconUsr.png" alt="icono-usuario" />
      </div>
      <div>
        <h3>Naves disponibles</h3>
        <div class="imageSpaceships">
          <div class="card">
            <img src="./images/nave1.png" alt="nave1" />
          </div>
          <div class="card">
            <img src="./images/nave2.png" alt="nave2" />
          </div>
          <div class="card">
            <img src="./images/nave3.png" alt="nave3" />
          </div>
          <div class="card">
            <img src="./images/nave4.png" alt="nave4" />
          </div>
          <div class="card">
            <img src="./images/nave5.png" alt="nave5" />
          </div>
        </div>

        <h3>Cartas disponibles</h3>
        <div class="imageCards">
          <div class="card">
            <img src="./images/card1.png" alt="card1" />
          </div>
          <div class="card">
            <img src="./images/card2.png" alt="card2" />
          </div>
          <div class="card">
            <img src="./images/card3.png" alt="card3" />
          </div>
          <div class="card">
            <img src="./images/card4.png" alt="card4" />
          </div>
          <div class="card">
            <img src="./images/card5.png" alt="card5" />
          </div>
        </div>
      </div>
    </section>
  </body>
  <footer>Copyright ©2023, GAMIFY. Todos los derechos reservados.</footer>
</html>
